*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
height:100vh;
background:linear-gradient(135deg,#111827,#1e293b);
overflow:hidden;
color:white;
}

#login{
display:flex;
justify-content:center;
align-items:center;
height:100%;
}

.card{
width:400px;
max-width:90%;
padding:40px;
border-radius:25px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
display:flex;
flex-direction:column;
gap:15px;
box-shadow:0 20px 50px rgba(0,0,0,.5);
}

.card h1{
text-align:center;
}

.card p{
text-align:center;
color:#ddd;
}

.card input,
.card select{
padding:15px;
border:none;
border-radius:12px;
font-size:16px;
background:#202938;
color:white;
outline:none;
}

.card button{
padding:15px;
border:none;
border-radius:12px;
background:#4f46e5;
color:white;
cursor:pointer;
font-size:18px;
transition:.3s;
}

.card button:hover{
background:#6366f1;
}

#app{
display:none;
height:100%;
}

.sidebar{
width:270px;
background:#0f172a;
display:flex;
flex-direction:column;
justify-content:space-between;
padding:30px;
}

.profile{
text-align:center;
}

#pfp{
font-size:70px;
margin-bottom:10px;
}

.sidebar button{
padding:15px;
border:none;
border-radius:10px;
background:#ef4444;
color:white;
cursor:pointer;
}

.main{
flex:1;
display:flex;
flex-direction:column;
}

.header{
height:80px;
display:flex;
align-items:center;
padding-left:30px;
background:#111827;
border-bottom:1px solid rgba(255,255,255,.1);
}

#messages{
flex:1;
overflow-y:auto;
padding:30px;
display:flex;
flex-direction:column;
gap:20px;
}

.message{
display:flex;
gap:15px;
max-width:80%;
}

.user{
align-self:flex-end;
flex-direction:row-reverse;
}

.bot{
align-self:flex-start;
}

.avatar{
font-size:35px;
}

.bubble{
padding:15px 20px;
border-radius:20px;
line-height:1.5;
}

.user .bubble{
background:#4f46e5;
}

.bot .bubble{
background:#1f2937;
}

.bottom{
padding:20px;
display:flex;
gap:15px;
background:#111827;
}

.bottom input{
flex:1;
padding:16px;
border:none;
border-radius:15px;
background:#1f2937;
color:white;
font-size:16px;
outline:none;
}

.bottom button{
width:70px;
border:none;
border-radius:15px;
background:#4f46e5;
color:white;
font-size:22px;
cursor:pointer;
}

.typing{
font-style:italic;
opacity:.7;
}

@media(max-width:800px){

#app{
flex-direction:column;
}

.sidebar{
width:100%;
height:160px;
flex-direction:row;
align-items:center;
justify-content:space-between;
}

.profile{
display:flex;
align-items:center;
gap:15px;
text-align:left;
}

#pfp{
font-size:50px;
margin:0;
}

}
